body{
	font-family: Raleway,sans-serif;
	font-size: 14px;
	line-height: 26px;
	color:#818181;
	font-weight: 400;
}

header{
	background: url(images/bg.jpg);
	height: 60px;
	position: relative;
}
nav{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-45%, -50%);

}

nav a:hover{
	color: #C78C19;

}

.item-menu{
	display: inline;
	margin: 0 7.5px;
	
}

.item-menu a{
	color: #ffffff;
	font-family: 'Kelly Slab', cursive;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}


.banner{
	background: url(images/banner2.jpg);
	height: 1145px;
	position: relative;
}

.logo-branco{
	width: 150px;
	margin-top: 15px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.titulo-principal{
	color: rgba(255, 255, 255, 0.91);
	font-family: 'UnifrakturMaguntia', cursive;
	font-size:60px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.slogan{
	font-family: 'Montserrat', sans-serif;
	color: rgba(255, 255, 255, 0.84);
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 54%;
}

.institucional{
	background: url(images/fundo-institucional.jpg);
	padding-top: 73px;
	padding-bottom: 48px;
}


.caixa-institucional{
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}


.A-barbearia{
	display: inline-block;
	vertical-align: top;
}

.titulo-secundario{
	font-family: 'UnifrakturMaguntia', cursive;
	font-size: 42px;
	color: #303030;
}

.A-barbearia h2, .O-conceito h2{
	
	margin-bottom: 33px;
}

.texto-institucional{
	text-align: justify;
	display: inline-block;
	width: 535px;
	vertical-align: top;
	

}

.beneficios{
	width: 520px;
	margin-left: 15px;
	margin-bottom: 42px;
	border: 2px solid black;
	box-shadow: 10px 20px 25px black;
}


.ambiente{
	width: 520px;
	display: inline;
	margin-right: 15px;
	border: 2px solid black;
	box-shadow: 10px 10px 25px black;
}

.O-conceito{
	display: inline-block;
	vertical-align: top;
}

.galeria{
	background: url(images/slide01.jpg);
	height: 680px;
	background-attachment: fixed;
	position: relative;
}

.titulo_video{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 10%;
}

.video{
	width: 560px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

}
.mais-videos{
	background: #666666;
	position: relative;
}
.mais-videos h3{
	font-size: 24px;
	padding: 51px 325px;
}


.mais-videos a{
	
	border: 1px solid #ffffff;
	border-radius: 5px;
	text-decoration: none;
	padding: 6px 27px;
	position: absolute;
	right: 378px;
	top: 50%;
	transform: translateY(-50%);
	transition: 300ms all;

}


.mais-videos a:hover{
	background-color: #1b1b1b;
}

.footer-top{
	background: #262626;
}

.caixa-footer-top{
	width: 900px;
	margin: 0 auto;
	padding: 50px;
}

.caixa_unidades{
	display: inline-block;
	vertical-align: top;
}

.caixa_unidades h4, .mais-videos h3, .mais-videos a{
	font-family: 'Kelly Slab', sans-serif;
	color: #fffff0;
	font-weight: bold;
	text-transform: uppercase;
}

.caixa_unidades h4{
	font-size: 15px;
	margin-bottom: 22px;
}

.footer_logo_alura, .caixa_unidades, .caixa_cavalera{
	margin: 0 5.5%;
}

.cavalera_logo{
	width: 177px;
}

.caixa_cavalera{
	display: inline-block;
}

.caixa_cavalera a{
	display: block;
	font-family: 'Kelly Slab', sans-serif;
	color: #fffff0;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	padding: 6px 27px;
	border: 1px solid #ffffff;
	border-radius: 5px;
	transition: 300ms all;
	margin-top: 16px;
}

.caixa_cavalera a:hover{
	background-color: #1b1b1b;
}

footer{
	background: #1b1b1b;
	height: 82px;
	text-align: center;
}


footer p{
	color: #f4f4f4;
	font-size: 12px;
	padding-top: 20px;
}


/* css do design responsivo para smartphone*/


@media screen and (max-width: 480px){


header{
	height: 115px;
}


.item-menu{
	display: block;
}

























}



